
#titre
{
    color: black;
}
#corp

{
    background-image: url("../View/image/fondvert.jpg");
    background-size: cover;
    height: 89.5vh;

}

.btn-success div img {
    position: relative;

    left: 200px;
    height: 150px;
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    
  }


.btn-danger div img {
    position: relative;
    left: 200px;
    height: 150px;
    -webkit-filter: grayscale(0) blur(0px);
    filter: grayscale(0) blur(0px);
    
    
  }
.btn-danger:hover{
    z-index: 8;
    position: relative;
    left: 95vh;
    top: 68.5vh;
    border-radius: 50%; 
}


.btn-danger{
    z-index: 8;
    position: relative;
    left: 95vh;
    top: 68.5vh;
}
.image-div {
    position: relative;
    align-content: center;

}
.btn-success{
    z-index: 8;
    position: relative;
    left: 100vh;
    top: 68.5vh;
}


.btn-success:hover{
    z-index: 8;
    position: relative;
    left: 100vh;
    top: 68.5vh;
    border-radius: 50%; 
}


#tind{
    position: relative;
    left: 75vh;
}

#navigation{
    box-shadow: 6px 6px 8px #aaa;
    height: 100px;
    display: flex;
}

#logo{
    position: relative;
    width: 90px;
    top: 6px;
    padding-bottom: 5px;
}

#gallery { position: relative; }
#pictures img { position: absolute; top: -15px; left: 75vh; }

#titre{
    margin-top:auto;
    margin-top:auto;
    margin-left:70vh;
    font-size: 35px;
    color:green;
    font-family: 'Lora', serif;


}