h1 {
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: green;
    text-align: center;
}
ol{
    list-style-type: disc;
}
#id {
    float: right;
}

body{
    text-align: justify;
}
.stage1{
    width:780px; 
    margin:auto;
}
.stage2{
    width:780px; 
    margin:auto;
}
.img1{
    float: left;
    width: 300px;
    height: 200px;
}
.img2{
    float: right;
    width: 300px;
    height: 200px;
}
.postuler{
    text-align: right;
    font-size: 20px;
}
.outils{
    width: 700px;
    height: 100px;
}
.accueil{
    float : left;
}
html{
    background-attachment: fixed;
    background-image: url("../View/image/outil.png");
}

