h1 {
    color: green;
    text-align: center;
}
ol{
    list-style-type: disc;
}
#id {
    float: right;
}
img{
    float: left;
    width: 300px;
    height: 200px;
}
body{
    text-align: justify;
}
.contenu{
    width:780px; 
    margin:auto;
}