p
{
    color: greenyellow;
    font-size: 15px;
    font-family: Arial;
    font-style: oblique;
}

img
{ 
    max-width: 20%;
}

.Titre
{
    color: green;
    font-family: Arial;
    font-style: oblique;
}

