<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>Leroy Merlin</title>
        <link rel="stylesheet" href="../Css/styles.css" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <!-- Fonts Google-->
	
	<link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:700i&display=swap" rel="stylesheet">

    
    </head>

    <body>
        <div class="container-fluid">
			<div class="row" >
				<div class ="col" id="navigation">
                    <img src="image/logo-min.png" alt="Header + Logo" id="logo" />
                    <p id="titre"> Leroy Merlin</p>
                </div>
            </div>
        </div>
        <div class="row"    id="tout" >
        <div class="col" id="acordéon">
            <div class="slider">
                <ul>
                    <li onmouseover="document.getElementById('tout').style.backgroundImage='url(image/backgroundpresentation.png)'">
                        <div class="title"><a href="#">Présentation de l'entreprise</a></div>
                        <a href="présentation.html"> <img src="image/Presentation.png" /> </a>
                    </li>
                    <li onmouseover="document.getElementById('tout').style.backgroundImage='url(image/backgroundpostes.png)'" >
                        <div class="title"><a href="#"> Nos Postes</a></div>
                        <a href="poste.html"> <img src="image/postes.png" /> </a>
                    </li>
                    <li onmouseover="document.getElementById('tout').style.backgroundImage='url(image/backgroundpostuler.png)'">
                        <div class="title"><a href="#">Postuler</a></div>
                        <a href="postuler.html">  <img id="postuler" src="image/postuler.png" /> </a>
                    
                    </li>
                    <li  onmouseover="document.getElementById('tout').style.backgroundImage='url(image/backgroundstage.png)'">
                            <div class="title"><a href="#">Stage</a></div>
                            <a href="stage.html"> <img src="image/stage.png" /> </a>
                        
                        </li>
                </ul>

            </div>
        </div>
    </div>

    </body>
</html>