<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <title>Leroy Merlin</title>
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../Css/stage.css" />
        <a href="acceuil.html"> <img class = "img1"  src="image/logo.png" alt= " merlin " /></a>
        <img class = "img2" src="image/Nouveau GIF LEROY MERLIN.gif" alt= " merlin " />
        
    </head>
    <section class="job1">	
    </br>
		<h1> <id="titre">Nos postes disponibles</h1>
		<article class="partie1" id="p1">
            <p>
            </br>
            </br>
            </br>
                <h2> Manager Digital (H/F) </h2>
                    <h3> Envie d’une expérience dans une entreprise leader sur son marché ?</h3>
                        <ol>
                            <li>N°1 sur le marché de l'amélioration de l'habitat et du cadre de vie en France</li> 
                            <li>23.000 collaborateurs à ce jour</li> 
                            <li>137 magasins dans tout le pays</li> 
                            <li>Top 10 des Sites e-commerce les plus visités en France</li> 
                        </ol>
                <h3> Envie de rejoindre une équipe et de contribuer à sa transformation ? </h3>
                        <ol>
                            Face à un marché de plus en plus concurrentiel où le digital prend une place importante
                                    avec des enjeux d’agilité et de time to market toujours plus fort, Leroy Merlin se doit
                                    d’innover et de proposer des solutions digitales pertinentes et performantes aussi bien
                                    pour ses clients que pour ses partenaires. 
                            </br></br>
                            Dans ce contexte, l’entreprise a opéré un pivot passant de distributeurs de produits à
                                    distributeurs de solutions (Produits + Services) et la Plateforme des services a été créée
                                    en juillet 2018 pour répondre aux enjeux business et digitaux sur ce terrain. 
                            </br></br>
                        
                            La plateforme des services travaille sur des sujets permettant d’accompagner les
                                    habitants dans tous leurs projets et de leur faire vivre des expériences exceptionnelles
                                    grâce à la fluidité de leur parcours on line et off line, à la personnalisation des solutions et
                                    à la qualité des services rendus.
                            </br></br>
                              
                            Dans ce cadre, nous recherchons un manager agile / team leader 
                        </ol>
                <h3>Ta mission au quotidien:</h3>
                        <ol>
                            Au cœur de la plateforme des services organisée en 3 équipes et chacune constituée avec
                                    des rôles tels qu’un product owner, un chef de projet tech, un scrum master, un techlead
                                    et des développeurs, tu rejoins l’équipe « Transverse : Web et API » afin de :
                            </br>
                        
                            <h4>-  faire grandir l’équipe et chacun de ses membres</h4>
                            <ol>
                                <li>manager les membres de l’équipe (3 pers)</li>
                                <li>piloter les ressources externes (16 pers)</li>
                                <li>participer aux recrutements</li>
                                <li>développer le partage de connaissance</li>
                            </ol>

                            <h4>-  ancrer les méthodes agiles dans le collectif</h4>
                            <ol>
                                <li>donner du sens</li>
                                <li>proposer des rituels, outils…</li>
                                <li>responsabiliser, rendre autonome </li>
                                
                            </ol>

                            <h4>-  booster l’innovation digitale</h4>
                            <ol>
                                <li>encourager la veille et en faire soi-même</li>
                                <li>participer aux évènements Tech de son domaine comme spectateur et
                                        comme speaker</li>
                                
                            </ol>

                            <h4>-  gérer le portefeuille projet sur ton domaine</h4>
                            <ol>
                                <li>assurer la cohérence des produits du domaine</li>
                                <li>contribuer à l’architecture d’entreprise</li>
                                <li>organiser et assurer le build et le run des produits digitaux </li>
                                <li>veiller au delivery </li>
                                <li>définir les équilibres d’investissement sur ses différents produits et les
                                <li>traduire dans les visions - plan-budget- atterrissage.</li>
                            </ol>
                        </ol>


                    
            </p>
