<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../Css/poste.css" />
        
        
        <title>Leroy Merlin</title>

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Lora:700i&display=swap" rel="stylesheet">

    </head>
 
    <body>
            <div class="container-fluid">
                    <div class="row" >
                        <div class ="col" id="navigation">
                            <img src="image/logo-min.png" alt="Header + Logo" id="logo" />
                            <p id="titre"> Leroy Merlin</p>
                        </div>
                    </div>
                </div>
<div id="corp">
    <h1 id="titre">Match avec le job de tes rêves !</h1>
      :<br />


<div class="image-div" id="gallery">
        <div id="pictures">
            <img id ="tind" src="image/MerlinMeetBigD.png" alt="tinderposte" />
            <img src="image/MerlinMeetCloud.png" alt="" />
            <img src="image/MerlinMeetManager.png" alt="" />
            <img src="image/MerlinMeetTech.png" alt="" />
            <img src="image/MerlinMeetpRrojet.png" alt="" />
            

        </div>
        <a href="#next"><button id="next" type="button" class="btn btn-danger">suivant</a></button>
        <a href="postuler.html"><button  type="button" class="btn btn-success">Postuler</a></button>
    </div>

    <script type="text/javascript">

        $(document).ready(function() { 
        var z = 0; 
        var inAnimation = false;

    $('#pictures img').each(function() { 
        z++;
        $(this).css('z-index', z);
    });

    function swapFirstLast(isFirst) {
        if(inAnimation) return false; 
        else inAnimation = true; 

        var processZindex, direction, newZindex, inDeCrease; 

        if(isFirst) { processZindex = z; direction = '-'; newZindex = 1; inDeCrease = 1; } 
        else { processZindex = 1; direction = ''; newZindex = z; inDeCrease = -1; } 

    $('#pictures img').each(function() { 
        if($(this).css('z-index') == processZindex) {
            $(this).animate({ 'top' : direction + $(this).height() + 'px' }, 'slow', function() { 
            $(this).css('z-index', newZindex) 
            .animate({ 'top' : '0' }, 'slow', function() { 
                inAnimation = false; 
            });
        });
        } else { 
            $(this).animate({ 'top' : '-20px' }, 'slow', function() { 
            $(this).css('z-index', parseInt($(this).css('z-index')) + inDeCrease);
            });
        }
    });

        return false; 
    }

    $('#next a').click(function() {
        return swapFirstLast(true); 
    });
    });

    </script>

    </body>
</html>



