<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../Css/poste.css" />

        
        <title>Leroy Merlin</title>

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>
 
    <body>
            <div class="container-fluid">
                    <div class="row" >
                        <div class ="col" id="navigation">
                            <img src="image/logo-min.png" alt="Header + Logo" id="logo" />
                            <p id="titre"> Leroy Merlin</p>
                        </div>
                    </div>
                </div>
<div id="corp">
    <h1 id="titre">POSTE DU ROI MERLIN</h1>
    Voici un tinderposte à ta disposition :<br />
    <div class = "image-div">
        <button  type="button" class="btn btn-danger">non</button>
        <img id ="tind" src="image/MerlinMeet.png" alt="tinderposte" />
        <button  type="button" class="btn btn-success">OUI</button>
</div>

    </body>
</html>



