<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../Css/styles.css" />
        <title>Présentation de l'entreprise</title>
    </head>

    <body>
        <img src="image/GIF LEROY MERLIN.gif" alt="GIF Leroy Merlin" />
        <p><h1 class="Titre">Présentation de l'entreprise</h1></p>
        <p class="intro1">Nous sommes une entreprise qui se donne pour mission de construire les nouvelles façons d’habiter, pour mieux vivre demain.</p> 
        <p class="intro2">Nous faisons partie d’un grand groupe international, Adeo, et n’en restons pas moins une entreprise à taille humaine, avec une simplicité dans les relations entre nous, avec une confiance accordée à chacun, dans laquelle chaque collaborateur participe, vraiment, à l’écriture de la stratégie de l’entreprise.</p>
        <p class="intro3">Nous sommes une entreprise audacieuse, avec des milliers de projets menés simultanément par ses collaborateurs, et qui avance.</p>
        <p class="intro4">Nous sommes une entreprise en pleine croissance (et ça dure depuis près de 100 ans :-) et qui met tout en œuvre pour le rester !</p>
        <p class="intro5">Nous sommes Leroy Merlin.</p>
        
    </body>
</html>