<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../Css/presentation.css" />
        <title>Présentation de l'entreprise</title>
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="acceuil.html">Accueil</a></li>
                <li><a href="poste.html">Découvrez nos postes</a></li>
                <li><a href="Stage.html">Découvrez nos stages</a></li>
            </ul>
        </nav>


        
        
        <body2>

            <header>
                <h1 class="Titre"></br>Présentation de l'entreprise</h1>
            </header>

            <section>
                <p class="intro1"> </br> Nous sommes une entreprise qui se donne pour mission de construire les nouvelles façons d’habiter, pour mieux vivre demain.</br></br> Nous faisons partie d’un grand groupe international, Adeo, et n’en restons pas moins une entreprise à taille humaine, avec une simplicité dans les relations entre nous, avec une confiance accordée à chacun, dans laquelle chaque collaborateur participe, vraiment, à l’écriture de la stratégie de l’entreprise.</br></br> Nous sommes une entreprise audacieuse, avec des milliers de projets menés simultanément par ses collaborateurs, et qui avance.</br></br> Nous sommes une entreprise en pleine croissance (et ça dure depuis près de 100 ans ) et qui met tout en œuvre pour le rester !</p>
                <p class="intro2"> </br>Nous sommes
                <img src="image/GIF LEROY MERLIN.gif" alt="GIF Leroy Merlin" /></p>
            </section>

            
        </body2>
        

    </body>
</html>