<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../Css/presentation.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <title>Présentation de l'entreprise</title>
    </head>

    <body>
        <div class="row">
            <div class="col-2">
        <nav id="colonne1">
                <a  style="text-decoration:none" href="acceuil.html"><button href="acceuil.html" type="button" class="btn btn-outline-secondary">Accueil</a> </button></li>
                <a  style="text-decoration:none" href="poste.html"><button href="poste.html" type="button" class="btn btn-outline-secondary">Découvrez nos </br>postes</a> </button></li>
                 <a  style="text-decoration:none" href="stage.html"><button href="stage.html" type="button" class="btn btn-outline-secondary">Découvrez nos </br>stages</a> </button></li>
            </ul>
        </nav>


        </div>
        
        <div class="col-10" id="colonne2">

            <header>
                <h1 class="Titre"></br>Présentation de l'entreprise</h1>
            </header>

            <section>
                <p class="intro1"> </br> Nous sommes une entreprise qui se donne pour mission de construire les nouvelles façons d’habiter, pour mieux vivre demain.</br></br> Nous faisons partie d’un grand groupe international, Adeo, et n’en restons pas moins une entreprise à taille humaine, avec une simplicité dans les relations entre nous, avec une confiance accordée à chacun, dans laquelle chaque collaborateur participe, vraiment, à l’écriture de la stratégie de l’entreprise.</br></br> Nous sommes une entreprise audacieuse, avec des milliers de projets menés simultanément par ses collaborateurs, et qui avance.</br></br> Nous sommes une entreprise en pleine croissance (et ça dure depuis près de 100 ans ) et qui met tout en œuvre pour le rester !</p>
                <p class="intro2"> </br>Nous sommes
                <img src="image/Nouveau Gif Leroy Merlin.gif" alt="GIF Leroy Merlin" /></p>
            </section>

            
        </div>
        </div>

    </body>
</html>