<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Leroy Merlin</title>
        <link rel="stylesheet" href="../Css/stage.css" />
        <img class = "img1" src="image/logo.png" alt= " merlin "/>
        <img class = "img2" src="image/GIF LEROY MERLIN.gif" alt= " merlin " />
        
	</head>
	<body>
		<section class="contenu">	
			<h1> <id="titre">Nos offres de stages</h1>
			<article class="partie1" id="p1">
                <p>
                    <br> ASSISTANT CHEF DE PROJET - STAGE</br>
                    <br> Contexte : </br>
                    <br> Au sein de l'équipe Supply IT, nous déployons diverses applications autour de
                    l’entrepôt et du transport. Pour documenter et accompagner le passage au RUN de
                    ces applications, nous recherchons un assistant chef de projet.  </br>
                    <br> Ta mission si tu l'accepte ! : </br>
                            <ol>
                                <li>Tu travailles au côté des équipes projet IT et RUN ; </li> 
                                <li>Tu développeras des extractions vers les autres produits de l’écosystème Leroy
                                        Merlin ; </li> 
                                <li>Tu participeras aux chantiers techniques de supervision, automatisation des
                                        déploiements et plan de production ; </li> 
                                <li>Tu seras chargé(e) de documenter et de vulgariser les procédures IT pour le RUN ; </li> 
                                <li>Tu rédigeras des cahiers de recette IT de non-régression à destination du RUN ; </li> 
                                <li>Tu cartographieras les flux et les process IT.</li> 
                            </ol>
                    <br> Profil Recherché : </br>
                            <ol>
                                    <li>Tu es issu(e) d’une formation supérieure  IT;</li> 
                                    <li>Tu es autonome et organisé ;</li> 
                                    <li>Tu as une appétence pour la logistique ;</li> 
                                    <li>Tu es synthétique et à l’aise dans la rédaction de
                                            documentation. </li> 
                                </ol>


                        <br>Tes outils :</br>
                        <img class = "outils" src="image/outils.png" alt= " merlin "/>
                </p>
			</article>
			<article class="partie2" id="p2">
				
				<p class="postuler" id="c2"><a href="postuler.html"> Postule Ici ! </a></p>
			</article>
		</section>	
		<script type="text/javascript" src="../javascript/stage.js" ></script>
	</body>
</html>