<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Leroy Merlin</title>
        <link rel="stylesheet" href="../Css/stage.css" />
        <img class = "img1" src="image/logo.png" alt= " merlin "/>
        <img class = "img2" src="image/GIF LEROY MERLIN.gif" alt= " merlin " />
        
	</head>
	<body>
		<section class="contenu">	
			<h1> <id="titre">Nos offres de stages</h1>
			<article class="partie1" id="p1">
                <p>
                    <br> DEVOPS - STAGE</br>
                    
                    <br> Ta mission si tu l'accepte ! : </br>
                    <br> Au sein de l’équipe OFFER Leroy Merlin, tu seras en charge de l’analyse du besoin,
                    du développement et du déploiement d’une application pour des services internes
                    et magasins. Tes missions seront les suivantes : </br>
                            <ol>
                                <li>Développement d’un logiciel ; </li> 
                                <li>Gestion de projet (méthode agile, récolte et rédaction des besoins du client,
                                        animation d’ateliers techniques) ;  </li> 
                                <li>Évolution du système d'information ; </li> 
                                <li>Audit fonctionnel d’utilisateurs du logiciel, architecture & conseil de
                                        stratégie SI. </li> 
                            </ol>
                    <br> Profil Recherché : </br>
                            <ol>
                                <li>Tu es BAC+4 issu(e) d’une formation supérieure ;</li> 
                                <li>Tu possèdes un goût prononcé pour la gestion de systèmes d’information et pour
                                        l’innovation ; </li> 
                                <li>Tu es agile, force de proposition et excellent communicant ; </li> 
                                <li>Tu es proactif et tu sais projeter tes activités dans un contexte en perpétuelle
                                        évolution. </li> 
                            </ol>

                        <br>Tes outils :</br>
                        <img class = "outils" src="image/stage4.png" alt= " merlin "/>
                </p>
			</article>
			<article class="partie2" id="p2">
				
				<p class="postuler" id="c2"><a href="postuler.html"> Postule Ici ! </a></p>
			</article>
		</section>	
		<script type="text/javascript" src="../javascript/stage.js" ></script>
	</body>
</html>