<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Leroy Merlin</title>
        <link rel="stylesheet" href="../Css/stage.css" />
        <img class = "img1" src="image/logo.png" alt= " merlin "/>
        <img class = "img2" src="image/GIF LEROY MERLIN.gif" alt= " merlin " />
        
	</head>
	<body>
		<section class="contenu">	
			<h1> <id="titre">Nos offres de stages</h1>
			<article class="partie1" id="p1">
                <p>
                    <br> Engineer BI - Stage </br>
                    <br> Ta mission si tu l'accepte ! </br>
                        <br> Au sein de l’équipe DATA Leroy Merlin, tes missions seront les suivantes : </br>
                            <ol>
                                <li>Tu travailles au contact des équipes métiers;</li> 
                                <li>Tu proposes des solutions techniques innovantes;</li> 
                                <li>Tu modélises et construis le socle Data;</li> 
                                <li>Tu conçois et construis les solutions de restitutions.</li> 
                            </ol>
                    <br> Profil Recherché </br>
                            <ol>
                                    <li>Tu es issu(e) d’une formation supérieure;</li> 
                                    <li>Tu es dynamique, autonome et curieux/curieuse;</li> 
                                    <li>Tu possèdes une vraie aisance relationnelle;</li> 
                                    <li>La data n’a plus de secret pour toi !</li> 
                                </ol>


                        Tes outils :
                </p>
			</article>
			<article class="partie2" id="p2">
				<!-- pour les cartes -->
				<p class="carte" id="c2"><a href="#"> Postule Ici ! </a></p>
			</article>
		</section>	
		<script type="text/javascript" src="../javascript/stage.js" ></script>
	</body>
</html>