<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Leroy Merlin</title>
        <link rel="stylesheet" href="../Css/stage.css" />
        <img class = "img1" src="image/logo.png" alt= " merlin "/>
        <img class = "img2" src="image/GIF LEROY MERLIN.gif" alt= " merlin " />
        
	</head>
	<body>
		<section class="contenu">	
			<h1> <id="titre">Nos offres de stages</h1>
			<article class="partie1" id="p1">
                <p>
                    <br> DATA ENGINEER - STAGE</br>
                    <br> Prévision des ventes</br>
                    <br> Contexte : </br>
                    <br> Au sein de l'équipe Supply IT, nous mettons en place une équipe sur la prévision
                    de ventes (de la prévision initiale à la prévision fin de vie du produit). Pour
                    renforcer l'équipe, nous proposons un stage de data engineer. </br>
                    <br> Ta mission si tu l'accepte ! : </br>
                            <ol>
                                <li>Tu travailles au côté des équipes métier ;</li> 
                                <li>Tu développes de nouveaux algorithmes de prévisions ; </li> 
                                <li>Tu maintiens les algorithmes existants et feras des évolutions ;</li> 
                                <li>Tu assures la cohérence statistique entre les différents algorithmes de prévision.</li> 
                            </ol>
                    <br> Profil Recherché : </br>
                            <ol>
                                    <li>Tu es issu(e) d’une formation supérieure ;</li> 
                                    <li>Tu as une appétence forte aux méthodes de prévisions de ventes ;</li> 
                                    <li>Tu as des connaissances sur Google Cloud Platform et python ou tu as envie d’apprendre ;</li> 
                                    <li>Tu es agile et force de proposition.  </li> 
                                </ol>

                        <br>Tes outils :</br>
                        <img class = "outils" src="image/stage3.png" alt= " merlin "/>
                </p>
			</article>
			<article class="partie2" id="p2">
				
				<p class="postuler" id="c2"><a href="postuler.html"> Postule Ici ! </a></p>
			</article>
		</section>	
		<script type="text/javascript" src="../javascript/stage.js" ></script>
	</body>
</html>