<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Leroy Merlin</title>
        <link rel="stylesheet" href="../Css/stage.css" />
        <a href="acceuil.html"> <img class = "img1"  src="image/logo.png" alt= " merlin " /></a>
        <img class = "img2" src="image/Nouveau GIF LEROY MERLIN.gif" alt= " merlin " />
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
        
    </head>
	<body>
		<section class="stage1">	
			<h1> <id="titre">Nos offres de stages</h1>
			<article class="partie1" id="p1">
                <p>
                        
                    <h2><br> ENGINEER BI - STAGE </br></h2>
                    <br> Ta mission si tu l'acceptes ! </br>
                        <br> Au sein de l’équipe DATA Leroy Merlin, tes missions seront les suivantes : </br>
                            <ol>
                                <li>Tu travailles au contact des équipes métiers;</li> 
                                <li>Tu proposes des solutions techniques innovantes;</li> 
                                <li>Tu modélises et construis le socle Data;</li> 
                                <li>Tu conçois et construis les solutions de restitutions.</li> 
                            </ol>
                    <br> Profil Recherché </br>
                            <ol>
                                <li>Tu es issu(e) d’une formation supérieure;</li> 
                                <li>Tu es dynamique, autonome et curieux/curieuse;</li> 
                                <li>Tu possèdes une vraie aisance relationnelle;</li> 
                                <li>La data n’a plus de secret pour toi !</li> 
                            </ol>


                        <br>Tes outils :</br>
                        <img class = "outils" src="image/outils.png" alt= " merlin "/>
                </p>

                <section class = "stage2">
                        <article class="partie1" id="p1">
                            <p>
                                <h2><br> ASSISTANT CHEF DE PROJET - STAGE</br></h2>
                                <br> Contexte : </br>
                                <br> Au sein de l'équipe Supply IT, nous déployons diverses applications autour de
                                l’entrepôt et du transport. Pour documenter et accompagner le passage au RUN de
                                ces applications, nous recherchons un assistant chef de projet.  </br>
                                <br> Ta mission si tu l'acceptes !  </br>
                                        <ol>
                                            <li>Tu travailles au côté des équipes projet IT et RUN ; </li> 
                                            <li>Tu développeras des extractions vers les autres produits de l’écosystème Leroy
                                                    Merlin ; </li> 
                                            <li>Tu participeras aux chantiers techniques de supervision, automatisation des
                                                    déploiements et plan de production ; </li> 
                                            <li>Tu seras chargé(e) de documenter et de vulgariser les procédures IT pour le RUN ; </li> 
                                            <li>Tu rédigeras des cahiers de recette IT de non-régression à destination du RUN ; </li> 
                                            <li>Tu cartographieras les flux et les process IT.</li> 
                                        </ol>
                                <br> Profil Recherché : </br>
                                        <ol>
                                            <li>Tu es issu(e) d’une formation supérieure  IT;</li> 
                                            <li>Tu es autonome et organisé ;</li> 
                                            <li>Tu as une appétence pour la logistique ;</li> 
                                            <li>Tu es synthétique et à l’aise dans la rédaction de
                                                    documentation. </li> 
                                        </ol>
            
                                    <br>Tes outils :</br>
                                    <img class = "outils" src="image/stage2.png" alt= " merlin "/>
                            </p>
                        </article>
                </section>
            </article>
            <section class="stage3">
                    <article class="partie1" id="p1">
                        <p>
                            <h2><br> DATA ENGINEER - STAGE</br></h2>
                            <br> Prévision des ventes</br>
                            <br> Contexte : </br>
                            <br> Au sein de l'équipe Supply IT, nous mettons en place une équipe sur la prévision
                            de ventes (de la prévision initiale à la prévision fin de vie du produit). Pour
                            renforcer l'équipe, nous proposons un stage de data engineer. </br>
                            <br> Ta mission si tu l'acceptes !  </br>
                                    <ol>
                                        <li>Tu travailles au côté des équipes métier ;</li> 
                                        <li>Tu développes de nouveaux algorithmes de prévisions ; </li> 
                                        <li>Tu maintiens les algorithmes existants et feras des évolutions ;</li> 
                                        <li>Tu assures la cohérence statistique entre les différents algorithmes de prévision.</li> 
                                    </ol>
                            <br> Profil Recherché : </br>
                                    <ol>
                                            <li>Tu es issu(e) d’une formation supérieure ;</li> 
                                            <li>Tu as une appétence forte aux méthodes de prévisions de ventes ;</li> 
                                            <li>Tu as des connaissances sur Google Cloud Platform et python ou tu as envie d’apprendre ;</li> 
                                            <li>Tu es agile et force de proposition.  </li> 
                                        </ol>
        
                                <br>Tes outils :</br>
                                <img class = "outils" src="image/stage3.png" alt= " merlin "/>
                        </p>
                    </article>
                    <section class="contenu">
                            <article class="partie1" id="p1">
                                <p>
                                    <h2><br> DEVOPS - STAGE</br></h2>
                                    
                                    <br>Ta mission si tu l'acceptes !  </br>
                                    <br> Au sein de l’équipe OFFER Leroy Merlin, tu seras en charge de l’analyse du besoin,
                                    du développement et du déploiement d’une application pour des services internes
                                    et magasins. Tes missions seront les suivantes : </br>
                                            <ol>
                                                <li>Développement d’un logiciel ; </li> 
                                                <li>Gestion de projet (méthode agile, récolte et rédaction des besoins du client,
                                                        animation d’ateliers techniques) ;  </li> 
                                                <li>Évolution du système d'information ; </li> 
                                                <li>Audit fonctionnel d’utilisateurs du logiciel, architecture & conseil de
                                                        stratégie SI. </li> 
                                            </ol>
                                    <br> Profil Recherché : </br>
                                            <ol>
                                                <li>Tu es BAC+4 issu(e) d’une formation supérieure ;</li> 
                                                <li>Tu possèdes un goût prononcé pour la gestion de systèmes d’information et pour
                                                        l’innovation ; </li> 
                                                <li>Tu es agile, force de proposition et excellent communicant ; </li> 
                                                <li>Tu es proactif et tu sais projeter tes activités dans un contexte en perpétuelle
                                                        évolution. </li> 
                                            </ol>
                
                                        <br>Tes outils :</br>
                                        <img class = "outils" src="image/stage4.png" alt= " merlin "/>
                                </p>
                            </article>
			<article class="partie2" id="p2">
				<p> Pour retourner à l'accueil clique sur le roi Merlin !</p>
				<p class="postuler" id="c2"><a href="postuler.html"> Postulez Ici ! </a></p>
			</article>
		</section>	
		<script type="text/javascript" src="../javascript/stage.js" ></script>
    </body>
</html>